- title 'My Meetings'

%h1= 'My Meetings'

%table.table
  %thead
    %tr
      %th.span1= 'Ended'
      %th.span2= 'Meeting'
      %th.span2= 'Send invitations'
      %th.span1= 'ROTI'
  %tbody
    = render partial: 'event', collection: @events
