- title 'Your Calendar'

%h1= 'Your Calendar'

%table.table
  %thead
    %tr
      %th.span1= 'When'
      %th.span1= 'What'
      %th.span1= 'Who'
      %th.span1= 'With'
  %tbody
    = render partial: 'event', collection: @events
