- title 'Last Meetings'

- if @events.count.zero?
  .alert.alert-block
    %h4.alert-heading= 'No Meeting'
    = "You had no meeting during last 3 days. Enjoy your holidays!"
- else
  %table.table.table-striped
    %thead
      %tr
        %th
          %h3= 'Subject'
        %th
          %h3= 'ROTI'
    %tbody
      = render partial: 'event', collection: @events
