- title 'Good Meetings'

%h1= @event.summary
%p.lead= @event.description

%table.table.table-striped
  %tbody
    %tr
      %td
        - if @current_user_rate.count.zero?
          %h3= 'Your ROTI'
          .btn-toolbar.pagination-centered
            - (1..5).each do |mark|
              = simple_form_for @rate do |f|
                = f.input :gcal_id, as: :hidden, input_html: { value: @event.id }
                = f.input :mark, as: :hidden, input_html: { value: mark }
                = f.button :submit, mark, class: 'btn-large btn-primary'
        - else
          %h1.align-center= "#{@roti} / 5"

    %tr
      %td
        %h3= 'Attendees'
        %ul.unstyled
          - @event.attendees.each do |attendee|
            - next if attendee['resource']
            %li
              - rate = Rate.for_email_and_gcal_id attendee['email'], @event.id
              = label_mark rate, @current_user_rate
              = attendee['displayName'] || attendee['email']
        - if @current_user_rate.count.zero?
          .hint= 'You should rate to see the ROTI'
